<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/font-awesome.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/print.css" media="print">

    <title>Robospel --{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="container">
        <h1>Robospel</h1>
        <h2>Get your robot to the flag. First!</h2>

        <section id="downloads">
          <a href="{{site.baseurl}}/bouwen" class="btn">Bouwen</a>
          <a href="{{site.baseurl}}/spelen" class="btn">Spelen</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/snap.svg-min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/javascripts/main.js"></script>
  </body>
</html>
